/* Body STYLE */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* NAV BAR */
header {
  background: #222222;
  color: #ffffff;
  padding: 10px 30px;
}

#name-logo {
  width: 49%;
  display: inline-block;
  margin: 20px 0px;
  font-size: 40px;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-navigation {
  width: 49%;
  display: inline-block;
  text-align: right;
}

#main-navigation ul {
  list-style: none;
  padding: 0;
}

#main-navigation ul li {
  display: inline-block;
}

#main-navigation ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

#main-navigation ul li a:hover {
  background: #4444;
  border-radius: 3px;
  transition: 0.3s ease all;
}


/* HERO SECTION */

.hero {
  min-height: 700px;
  text-align: center;
  background: #555;
  background-image: url("images/background.jpg");
  background-size: cover;
}

.hero-content {
  color: white;
  padding-top: 130px;
  line-height: 1;
}

.hero-title {
  margin: 0;
  font-size: 100px;
  text-shadow: 2px 2px 5px black;
}

.hero-subtitle {
  font-size: 20px;
  margin-bottom: 60px;
  text-shadow: 2px 2px 5px black;
}

/*About*/

.about-content {
  background: rgba(236,240,241,0.4);
  width: 100%;
  padding: 36px 0px;
}

.about-content h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}

.about-content p {
  text-align: justify;
  margin: 0px 76px;
}

/* MENU */

.menu-section {
  padding-bottom: 50px;
  padding-top: 50px;
}

.menu-section-inside {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.menu-header {
  text-align: center;
  margin-bottom: 30px;
}

.menu-header h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}

.meals {
   display: inline-block;
   text-align: center;
}

.dish-box {
  border-radius: 4px;
  display: inline-block;
  width: 260px;
  margin: 20px 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.dish-image {
  max-width: 100%;
  min-height: 100%;
  width: 260px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.dish-info {
  padding: 16px;
  padding-top: 0px;
  text-align: left;
}

.dish-details {
  display: flex;
  margin: 0px 14px ;

}

.dish-name {
  font-size: 20px;
  margin: 14px;
  text-transform: capitalize;
}

.dish-day {
  margin-right: 20px;
  margin-top: 14px;
  color: #999;
  font-size: 14px;
  text-transform: capitalize;
}

.dish-type {
  margin-right: 20px;
  margin-top: 14px;
  color: #999;
  font-size: 14px;
  text-transform: capitalize;
}

.dish-price {
  margin-right: 14px;
  margin-top: 14px;
  color: #999;
  font-size: 14px;
  text-transform: capitalize;
}



/* FOOTER */

footer {
  background: #222;
  color: #777;
  padding: 30px;
  text-align: center;
}



/*mobile responsive*/

@media screen and (max-width: 768px) {
  /* HEADER   */
  header #name-logo {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 56px;
  }
  header #main-navigation {
    width: 100%;
    display: block;
    text-align: center;
  }

  /*  HERO  */
  .hero {
    min-height: 300px;
  }
  .hero-content {
    padding-top: 100px;
  }
  .hero-subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .hero-title {
    font-size: 40px;
  }

  /* MENU   */
  .dish-box {
    width: auto;
    display: block;
  }
  .dish-image {
  width: max-content;

}
}
